<div class="process-item col-xs-6 col-sm-3">
		<div class="process-box">
				<div class="process-item-ico">
						<%= image_tag "#{public_statics_assets_root}/assets/images/icons/step-1.png" %>
				</div>
				<div class="process-item-text">
						<div class="title">Tìm kiếm sản phẩm</div>
				</div>
				<div class="process-item-cont">
						Tìm kiếm các website thương mại Nhật.<br>
						Tham khảo tại <a href="/order/sellers-list" target="_blank">đây</a>.
				</div>
				<div class="process-item-step">
						1
				</div>
		</div>
</div>
