<footer id="footer">
    <div class="f-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="info-cp">
                        <div class="f-logo-wrap">
                            <%= image_tag "#{public_statics_assets_root}/assets/images/logo.png", alt: "Logo" %>
                        </div>
                        <p>
                            TỔNG ĐÀI HỖ TRỢ<br>
                            KHÁCH HÀNG TẠI VIỆT NAM
                        </p>
                        <ul class="f-info">
                            <li>
                                <i class="i-footer i-footer-address"></i>
                                <span>26/12 Nguyễn Minh Hoàng, Phường 12, Quận Tân Bình, TP.HCM</span>
                            </li>
                            <li>
                                <i class="i-footer i-footer-email"></i>
                                <span><a href="mailto:contact@buybid.jp">contact@buybid.jp</a></span>
                            </li>
                            <li>
                                <i class="i-footer i-footer-phone"></i>
                                <span>1900 7163<br>
                                    0906 391 617</span>
                            </li>
                        </ul>
                    </div>
                    <div class="f-info-worktime">
                        Giờ làm việc:
                        <table class="f-info-worktime-table">
                            <tbody>
                                <tr>
                                    <td>Thứ 2-6</td>
                                    <td>8:30 - 17:30</td>
                                </tr>
                                <tr>
                                    <td>Thứ 7</td>
                                    <td>8:30 - 12:30</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-6 col-md-8">
                    <div class="row">
                        <div class="f-menu-item col-sm-6">
                            <div class="f-menu-head">
                                <h5 class="f-headings">VỀ BUYBID</h5>
                                <div class="f-line"></div>
                            </div>
                            <div class="f-menu-body">
                                <ul>
                                    <li><a href="/support/introduction">Giới thiệu công ty</a></li>
                                    <li><a href="/support/profile">Hồ sơ năng lực</a></li>
                                    <li><a href="/news">Tin khuyến mãi</a></li>
                                    <li><a href="/support/recruitment/list">Tuyển dụng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-menu-item col-sm-6">
                            <div class="f-menu-head">
                                <h5 class="f-headings">CHÍNH SÁCH &amp; ĐIỀU KHOẢN</h5>
                                <div class="f-line"></div>
                            </div>
                            <div class="f-menu-body">
                                <ul>
                                    <li><a href="/support/terms">Trách nhiệm và Điều khoản</a></li>
                                    <li><a href="/support/prohibited">Danh sách mặt hàng cấm</a></li>
                                    <li><a href="/support/insurance-policy">Chính sách bảo hiểm</a></li>
                                    <li><a href="/support/privacy-policy">Chính sách bảo mật</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="f-menu-item col-sm-6">
                            <div class="f-menu-head">
                                <h5 class="f-headings">BẢNG GIÁ</h5>
                                <div class="f-line"></div>
                            </div>
                            <div class="f-menu-body">
                                <ul>
                                    <li><a href="/support/service-fee">Phí mua hộ</a></li>
                                    <li><a href="/support/transport">Vận chuyển và Đóng gói</a></li>
                                    <li><a href="/support/warehouse-service">Dịch vụ kho hàng</a></li>
                                    <li><a href="/support/dosmetic-transport">Vận chuyển nội địa Việt Nam</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="f-menu-item col-sm-6">
                            <div class="f-menu-head">
                                <h5 class="f-headings">HƯỚNG DẪN SỬ DỤNG</h5>
                                <div class="f-line"></div>
                            </div>
                            <div class="f-menu-body">
                                <ul>
                                    <li><a href="/support/service-flow">Quy trình mua hàng</a></li>
                                    <li><a href="/support/how-to-buy">Hướng dẫn mua hàng</a></li>
                                    <li><a href="/support/yahoo-auctions">Đấu giá Yahoo! Auction</a></li>
                                    <li><a href="/support/faq">FAQ</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3">
                    <h5 class="f-headings">Kết nối với chúng tôi</h5>
                    <div class="f-line"></div>
                    <div class="f-fanpage-area">

                    </div>
                    <div class="ico-media">
                        <ul>
                            <li>
                                <a class="social-link follow-fb" href="https://www.facebook.com/buybid.jp/"
                                    target="_blank" title="Facebook"></a>
                            </li>
                            <li>
                                <a class="social-link follow-zalo" href="http://zalo.me/3122931997850366744"
                                    target="_blank" title="Zalo"></a>
                            </li>
                            <li>
                                <a class="social-link follow-line" href="https://line.me/R/ti/p/%40shi5504s"
                                    target="_blank" title="Line"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="f-foot">
        <a href="#" class="scrollTopButton">
            <span class="button-square">
                <i class="fa fa-angle-double-up"></i>
            </span>
        </a>
        <div class="copyright">
            <p>Copyright © 2016, <a href="http://www.betterlifejp.com" target="_blank">Better Life Co., Ltd</a>
            </p>
        </div>
    </div>
</footer>
