<div id="spree-header">
  <header id="header" class="" data-hook>
      <div class="h-head">
          <div class="container">
              <div class="h-head-fee">
                  <p class="h-head-exrate">
                      <small>Tỷ giá</small> <strong>1</strong> ¥
                      =
                      <strong>223</strong> VNĐ
                      <small>(11/04/2019)</small>
                  </p>
                  <p class="h-head-pvcqt">
                      <small>Vận chuyển quốc tế</small> =
                      <strong>240.000</strong> VNĐ / kg
                  </p>
              </div>
              <ul class="h-head-menu desktop">
                  <li class="h-head-menu-item">
                      <button class="h-head-menu-link">
                          <i class="icofont-search-document"></i>Tra cứu đơn hàng
                      </button>
                      <div class="pop-hover-open h-check-order">
                          <div class="h-check-order-title">Tra cứu đơn hàng</div>
                          <div class="h-check-order-content">
                              <div class="h-check-order-content--desc"> Theo dõi đơn hàng bằng cách nhập Mã
                                  đơn
                                  và địa chỉ Email/Số điện thoại bên dưới. </div>
                              <div class="h-check-order-content--login"> Hoặc <a href="javascript:void(0);" class="js-sign-in__popup">Đăng nhập</a> để truy cập trang Lịch sử đơn
                                  hàng. </div>
                              <div class="h-check-order-content--form">
                                  <div class="h-check-order--code">
                                      <div>Mã đơn hàng <i class="far fa-question-circle"></i>
                                          <div class="h-check-order-code--help"> Bạn có thể tìm thấy mã đơn
                                              hàng trong SMS gửi tới số điện thoại đã đăng ký với Buybid hoặc
                                              Email xác nhận đơn hàng của bạn </div>
                                      </div><input class="form-control" id="orderCode" name="orderCode" placeholder="Nhập mã đơn hàng">
                                  </div>
                                  <div class="h-check-order--code">
                                      <div>Email/Số điện thoại</div><input class="form-control" id="emailOrPhone" name="emailOrPhone" placeholder="Nhập Email hoặc Số điện thoại">
                                  </div>
                                  <div class="h-check-order--errtxt o-message-Error"></div>
                                  <div class="h-check-order--code o-js-Captcha-Show" style="display: none">
                                      <div class="form-group">
                                          <p id="js-search-order-captcha-error" class="error-message"></p>
                                          <div id="js-search-order-captcha" class="form_field-elements control-group">
                                              <div style="width: 304px; height: 78px;">
                                                  <div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=1&amp;k=6LfZjRgUAAAAAIf1nMy4ouMIuTdngEM0FqdBg0Xw&amp;co=aHR0cHM6Ly93d3cuYWRheXJvaS5jb206NDQz&amp;hl=vi&amp;v=v1554100419869&amp;size=normal&amp;cb=rfiprvue5xwc" role="presentation" name="a-o8uv94uey42x" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox" width="304" height="78" frameborder="0"></iframe>
                                                  </div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                                  <button class="h-check-order--btn js-search-order">Tra cứu ngay</button>
                              </div>
                          </div>
                      </div>
                  </li>
                  <li class="h-head-menu-item">
                      <a href="/news" class="h-head-menu-link">
                          <i class="far fa-newspaper"></i>Tin tức
                      </a>
                  </li>
                  <li class="h-head-menu-item">
                      <button class="h-head-menu-link">
                          Hỗ trợ <b>1900 7163</b>&nbsp;&nbsp;<span class="fa fa-caret-down"></span>
                      </button>
                      <div class="pop-hover-open h-support">
                          <ul>
                              <li class="hotline_group">
                                  <div class="h-hotline-area">
                                      <a href="tel:19007163" class="h-hotline">
                                          <div class="h-hotline-ico">
                                              <i class="fa fa-phone"></i>
                                          </div>
                                          <div class="h-hotline-text">
                                              <div>Hotline</div>
                                              <b>1900 7163</b>
                                              <span>8h30 - 17h30 (T2 - T7)</span>
                                          </div>
                                      </a>
                                  </div>
                              </li>
                          </ul>
                          <ul class="child-link">
                              <li><a href="#">Câu hỏi thường gặp<span class="m-icon"><i class="fa fa-chevron-right"></i></span></a>
                              </li>
                              <li><a href="#">Hướng dẫn mua hàng<span class="m-icon"><i class="fa fa-chevron-right"></i></span></a>
                              </li>
                              <li><a href="#">Chính sách thanh toán<span class="m-icon"><i class="fa fa-chevron-right"></i></span></a>
                              </li>
                              <li><a href="#">Chính sách giao hàng<span class="m-icon"><i class="fa fa-chevron-right"></i></span></a>
                              </li>
                              <li><a href="#">Liên hệ Buybid<span class="m-icon"><i class="fa fa-chevron-right"></i></span></a>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
      <div class="h-body">
          <div class="container">
              <div class="h-body-cont">
                  <div class="pull-left">
                      <div class="menu-button-area mobile">
                          <a id="menu-button" class="menu-button modal-button" data-target="menu-mobile">
                              <i class="fa fa-list-ul"></i>
                          </a>
                      </div>
                      <a href="/" class="logo">
                          <img src="<%= public_statics_assets_root %>/assets/images/logo-black.png" alt="">
                      </a>
                      <div class="h-slogan desktop">
                          Mua và Đấu giá hàng Nhật
                      </div>
                      <div class="h-search">
                          <form d="" class="h-search-input-group">
                              <input type="text" title="Vui lòng nhập từ khóa để tìm kiếm" id="js-site-search-input" class="form-control js-site-search-input ui-autocomplete-input" name="text" value="" placeholder="Tìm sản phẩm, thương hiệu và danh mục" required="" autocomplete="off" oninvalid="this.setCustomValidity('Vui lòng nhập từ khóa để tìm kiếm!')">
                              <button class="btn btn-search" type="submit"><i class="fa fa-search"></i></button>
                          </form>
                      </div>
                  </div>
                  <div class="pull-right">
                      <div class="h-account h-body-right-item">
                          <a href="#" class="h-body-link h-account-link">
                              <i class="icofont-user"></i>
                              <div class="h-account-text">Tài khoản</div>
                          </a>
                          <div class="pop-hover-open">
                              <ul>
                                  <li><a href="#" class="h-account-btn h-btn-primary">Đăng ký</a></li>
                                  <li><a href="#" class="h-account-btn h-btn-primary">Đăng nhập</a></li>
                                  <li><a href="#" class="h-account-btn h-btn-primary facebook"><i class="fab fa-facebook"></i>Đăng
                                          nhập bằng Facebook</a></li>
                                  <li><a href="#" class="h-account-btn h-btn-primary">Gửi link báo giá</a></li>
                              </ul>
                          </div>
                      </div>
                      <div class="h-cart h-body-right-item">
                          <a href="#" class="h-body-link h-cart-link">
                              <i class="icofont-grocery"></i>
                              <span class="h-cart-number">0</span>
                          </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
</div>
