<header>
    <div id="header">
        <%= render "spree/shared/header/header_head"%>
        
        <%= render "spree/shared/header/header_body"%>
        
        <%= render "spree/shared/header/header_foot"%>
    </div>

    <!-- The Mobile Menu -->
    <%= render "spree/shared/header/header_menu_mobile"%>
</header>