<div class="form-actions text-center" data-hook="buttons">
	<input type="hidden" value="" name="continue" class="continue_param">
	
	<%= button Spree.t('actions.create_and_continue'), 'ok', 'submit', {class: 'btn-info create_and_continue', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>

  <%= button Spree.t('actions.create'), 'ok', 'submit', {class: 'btn-success', data: { disable_with: "#{ Spree.t(:saving) }..." }} %>
  <span class="or"><%= Spree.t(:or) %></span>
  <%= button_link_to Spree.t('actions.cancel'), collection_url, icon: 'remove' %>

  <script>
  	$('.create_and_continue').click(function () {
  		$('.continue_param').val(1);
  	});
  </script>
</div>
